.page {
  header {
    background: url('/svg/dc-bg.svg');
    background-size: cover;
    // height: 100vh;
    margin-bottom: 7vh;
  }
  nav {
    display: flex;
    justify-content: space-between;
    padding: 5vh 4vw 0;

    .logo {
      img {
        height: 3rem;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      a {
        padding: 0 1rem;
        &.active {
          font-weight: 600;
        }
      }

      .double-btn-links {
        margin-left: 1rem;
        display: flex;
        a {
          padding: 0.5rem 1.25rem;
          color: white;
          background: $deep-blue;
          display: flex;
          align-items: center;

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-right: 1px solid $dark-blue;
          }

          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          img {
            height: 0.75rem;
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .banner {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 10vh 5vw;

    .content {
      padding-right: 5vw;
    }

    .heading {
      font-size: 2.5rem;
      font-weight: 500;
    }

    .dc-center {
      max-width: 100%;
    }

    .banner-desc {
      margin-bottom: 2rem;
    }

    .btn {
      padding: 0.75rem 2.5rem;
      border: none;
      color: white;
      font-size: 0.9rem;
      cursor: pointer;
      background: $green;
      border-radius: 10px;
      margin-top: 2rem;
    }
  }

  .main-content {
    text-align: center;

    .courses {
      padding: 4vh 5vw 10vh;
      h2 {
        font-size: 2rem;
      }

      .sub-text {
        font-size: 1.25rem;
      }
  
      .course-lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3rem;
        background: white;
        margin-top: 5rem;
      }
  
      .course {
        background: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 10vh 1vw;
        box-shadow: $box-shadow;
        border-radius: 12px;
        text-transform: capitalize;

        .course-title {
          display: block;
          width: 75%;
          margin: 1rem auto 1.25rem;
          line-height: 1.25;
        }

        .course-level {
          font-weight: 600;
        }

        .btn {
          background: #d8e0eb;
          color: white;
          display: flex;
          padding: 0;
          margin: 1rem auto;
          align-items: center;
          padding-right: 1.25rem;
          width: fit-content;
          border-radius: 2rem;

          span {
            padding: 1rem 1.5rem;
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
            margin-right: 1rem;
          }

          img {
            height: 1.5rem;
          }
        }
      }
    }

    .join-us {
      background: $light-blue;
      padding: 3vh 5vw 0;
      text-align: center;

      h2 {
        font-size: 4rem;
        font-weight: 400;
        color: $dark;
        margin-bottom: 0.75rem;
      }

      p {
        color: $light-grey;
        line-height: 1.31;
        font-size: 1.2rem;
      }

      .join-us-btn {
        display: flex;
        align-items: center;
        margin: 1rem auto;
        padding: 0.75rem 4rem;
        border-radius: 8px;
        width: fit-content;
        background: $green;
        color: white;
        font-size: 1.5rem;
      }

      img {
        height: 50vh;
      }
    }

    .contributors {
      padding: 1vh 5vw 10vh;

      h2 {
        font-size: 3rem;
        font-weight: 300;
        color: $dark;
        margin-bottom: 0.75rem;
      }

      .contributors-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;
        margin-top: 5rem;
      }
      .contributor {
        background: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        border: 1px solid $deeper-blue;
        border-radius: 12px;
        padding: 4vh 1rem;
        text-align: center;

        h4 {
          font-weight: 500;
          margin-bottom: 0.75rem; 
        }

        .profile-pic {
          height: 10rem;
          margin-bottom: 1.5rem;
        }

        .social-icon {
          height: 1.5rem;
        }

        &.blank {
          background: $grey;
        }

        .social-links {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 10px;
        }
      }
    }

    .supporters-and-socials {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 8rem;
      background: $light-blue;
      padding: 5vh 5vw;

      .supported-by {
        height: 5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        .supporters-images {
          display: inline-block;
          margin-top: 0.5rem;
          img {
            height: 2rem;
          }
        }
      }
      .social-media {
        height: 5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

        .social-media-images {
          display: inline-block;
          margin-top: 0.5rem;
          img {
            height: 1.5rem;
          }
        }
      }
    }
  }

  .footer {
    background: $dark-black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vh 5vw;

    img {
      height: 4rem;
    }

    .copyright {
      color: $grey-white;
    }
  }
}
